@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff8a7b;
    overflow: hidden;
}

.card {
    width: 300px;
    height: 384px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: #fff;
    box-shadow: 14px 17px 42px -3px rgba(0, 0, 0, 0.3);

    .card__img {
        height: 192px;
        width: 100%;
      

        & img {
            
            width: 100%;
            border-radius: 20px 20px 0 0;

        }
    }
    .card__avatar{
        position: absolute;
        width: 114px;
        height: 114px;
        border-radius: 50%;
        overflow: hidden;
        top: calc(50% - 57px);
        & img{
            width: 100%;
        }

    }
    .card__title {
        margin-top: 60px;
        font-weight: 500;
        font-size: 18px;
        color: #000;
      }
      .card__subtitle {
        margin-top: 10px;
        font-weight: 400;
        font-size: 15px;
        color:#78858F;
      }
      .card__wrapper{
        .card__btn {
            margin-top: 15px;
            width: 76px;
            height: 31px;
            border: 2px solid #000;
            border-radius: 4px;
            font-weight: 700;
            font-size: 11px;
            color: #000;
            background: #fff;
            text-transform: uppercase;
            transition: all 0.3s;
            &:hover{
                background: #000;
                color: #fff;
            }
          }
          .card__btn-solid{
            background: #000;
            color:  #fff;
            &:hover{
                background: #fff;
                color: #000;
            }
          }
      }
}